@page "{applicationId?}"
@model Id.Pages.Account.RegisterUserModel
@{
	ViewData["Title"] = Model.t["Register"];
}
@section Scripts {
	<script src="~/js/api.js"></script>
	<script src="~/js/account.js"></script>
	<script src="~/js/validations_register_user.js"></script>
}

<div class="row">
	<div class="col-md-12">
		<h2>@Model.t["Register"]</h2>
		<hr />
	</div>
	<div class="col-md-7">

		<div class="row"> 
			<div class="col-md-2">
				<img class="centered" style="width: 32px; height: 32px; margin: 3px;" src="@Model.ApplicationInfo.ApplicationLogoUrl" />
			</div>
			<div class="col-md-10">
				<h4>@Model.ApplicationInfo.BrandName | @Model.ApplicationInfo.ApplicationName</h4>
				<div class="text-center"><i><span id="description"></span></i></div>
			</div>
		</div>
		@if(Model.RegistrationStep == RegistrationStep.User) 
		{

		<hr />
		<form method="post" id="registerUser" enctype="multipart/form-data">
			<input asp-for="Input.ApplicationId" type="hidden" value="@Model.Input.ApplicationId"  />
			<div class="form-group">
				<div id="email_err" class="text-danger p-2 pb-0"></div>
				<label style="font-weight: bold">@Model.t["Email address"]</label>
				<input asp-for="Input.Email" 
				type="email" class="form-control" 
				autocomplete="new-email" 
				required
				onfocus="loadHelp('Install_Email')" 
				oninput="debounce(checkForm())" />
			</div>

			<div class="form-group">
				<div id="password_err" class="text-danger p-2 pb-0"></div>
				<label style="font-weight: bold">@Model.t["Password"]</label>
				<input asp-for="Input.Password" type="password" class="form-control" autocomplete="" required
						   onfocus="loadHelp('Account_Password')" onchange="checkForm()" />

			</div>

			<div class="form-group">
				<div id="password_confirm_err" class="text-danger p-2 pb-0"></div>
				<label style="font-weight: bold">@Model.t["Confirm password"]</label>
				<input asp-for="Input.PasswordConfirm" type="password" class="form-control" autocomplete="off" required
						   onfocus="loadHelp('Account_ConfirmPassword')" onchange="checkForm()" />
				</div>
			<div class="form-group">
				<div id="firstname_err" class="text-danger p-2 pb-0"></div>
				<label style="font-weight: bold">@Model.t["First name"]</label>
				<input asp-for="Input.FirstName" type="text" class="form-control" autocomplete="off" required
						   onfocus="loadHelp('Account_FirstName')" onchange="checkForm()" />
			</div>

			<div class="form-group">
				<div id="lastname_err" class="text-danger p-2 pb-0"></div>
				<label style="font-weight: bold">@Model.t["Last name"]</label>
				<input asp-for="Input.LastName" type="text" class="form-control" autocomplete="off" required
						   onfocus="loadHelp('Account_LastName')" onchange="checkForm()" />
			</div>

			<div class="form-group">
				<div id="displayedname_err" class="text-danger p-2 pb-0"></div>
				<label>@Model.t["Displayed name"]</label>
				<input asp-for="Input.DisplayedName" type="text" class="form-control" autocomplete="off" 
						   onfocus="loadHelp('Account_DisplayedName')" onchange="checkForm()" />
			</div>
			<div class="row">
				<div class="col-10">
					<div class="form-group">
							<div id="icon_err" class="text-danger p-2 pb-0"></div>
							<label>@Model.t["Profile picture"]</label>
							<input asp-for="Input.ProfilePicture" 
								type="file" 
								class="form-control" 
								autocomplete="off" 
								accept=".jpg,.jpeg,.png,.bmp"
								required
								onfocus="loadHelp('Account_UserPicture')"
								   onchange="checkIcon();checkForm()" />
					</div>
				</div>
				<div class="col-2">
					<span id="icon_preview" class="centered"></span>
				</div>
			</div>
				<div class="form-group">
					<div id="terms_err" class="text-danger p-2 pb0"></div>
					<label style="font-weight: bold">@Model.t["Agree to terms"]</label>
					<select asp-for="Input.AcceptTerms"
							class="form-control"
							onclick="loadHelp('Account_Terms')"
							onchange="checkForm()"
							asp-items="@Model.TermsOptions">
					</select>
				</div>
				<div class="form-group">
					<div id="cookies_err" class="text-danger p-2 pb0"></div>
					<label style="font-weight: bold">@Model.t["Agree to cookies"]</label>
					<select asp-for="Input.AcceptCookiePolicy"
							class="form-control"
							onclick="loadHelp('Account_Cookies')"
							onchange="checkForm()"
							asp-items="@Model.CookieOptions">
					</select>
				</div>
				<div class="form-group">
					<div id="datashare_err" class="text-danger p-2 pb0"></div>
					<label style="font-weight: bold">@Model.t["Agree to share user details"]</label>
					<select asp-for="Input.AcceptPrivacyPolicy"
							class="form-control"
							onclick="loadHelp('Account_DataShare')"
							onchange="checkForm()"
							asp-items="@Model.PrivacyOptions">
					</select>
				</div>
				<div class="m-3">@Model.t["Values with bold names are required"]</div>
				<button type="submit"
						id="submit"
						class="btn btn-primary btn-block mt-3"
						disabled>
					@Model.t["Next"]
		</form>
		}
		else if (Model.RegistrationStep == RegistrationStep.Application)
		{
			<div class="alert alert-success" role="alert">
				@Model.t["User registered successfully to the Authenticator"]
				<br />
				@Model.t["Now we have to agree on the terms and conditions of the Application"]
			</div>
		}
		else if (Model.RegistrationStep == RegistrationStep.MailVerification)
		{

		}
		else if (Model.RegistrationStep == RegistrationStep.Finish) {

		}

	</div>
	<div class="col-md-5">
		<div id="div_help" class="helper" style="display:none">

		</div>
	</div>
</div>

<script language="javascript">
	let active_page = "register";
	let help = 'Account_RegisterUser';
	let description = "@Model.ApplicationInfo.ApplicationDescription";
</script>



