@page
@model Id.Pages.Helps.Install_ResultModel
@{
}

<h3>@Model.t["Login settings"]</h3>
<ul>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
</ul>
<hr />

<h3>@Model.t["Password settings"]</h3>
<ul>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
</ul>
<hr />

<h3>@Model.t["Cookie settings"]</h3>
<ul>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
</ul>
<hr />

<h3>@Model.t["Jwt settings"]</h3>
<ul>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
</ul>
<hr />

<h3>@Model.t["CORS settings"]</h3>
<ul>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
</ul>
<hr />