@page
@using Id.Models.SettingsModels
@model Id.Pages.Install.CorsSettingsModel
@inject IStringLocalizer<CorsSettingsModel> t

@{
    ViewData["Title"] = t["CORS Settings"];
}

@section Scripts {
	<script src="~/js/api.js"></script>
	<script src="~/js/validations_cors.js"></script>
	<script src="~/js/install.js"></script>
}

<div class="row">
	<div class="col-md-12">
		<h2>@t["CORS settings"]</h2>
		<hr />
	</div>
	<div class="col-md-7">
    <h2>@t["Configure CORS settings"]</h2>
    <div id="form-div">
    <form method="post" onformchange="console.log('changed')">
        
        <div class="form-group">
            <div id="policy_mode_err" class="text-warning p-2 pb-0"></div>
            <label for="policyMode">@t["CORS Policy Mode"]</label>
            <select id="policyMode" 
                name="Input.PolicyMode"
                onchange="checkPolicyMode(this)"
                class="form-control">
                <option value="AllowAll" selected="@(Model.Input.PolicyMode == CorsPolicyMode.AllowAll)">@t["Allow all"]</option>
                <option value="AllowSpecific" selected="@(Model.Input.PolicyMode == CorsPolicyMode.AllowSpecific)">@t["Allow specific"]</option>
                <option value="DenyAll" selected="@(Model.Input.PolicyMode == CorsPolicyMode.DenyAll)">@t["Deny all"]</option>
            </select>
        </div>
        
        <div class="form-group" id="addOriginAddress" style="display: none">
			<div id="add_origin_err" class="text-danger p-2 pb-0"></div>
            <label>@t["Add origin"]</label>
            <input type="text" id="addOriginValue" class="form-control" onchange="addOriginToList(this.value)" />
        </div>

        <div class="form-group">
                    <label for="allowedOrigins">@t["Allowed Origins"]</label>
                    <a href="#" onclick="addOrigin()" style="margin: 20px" title="@t["Add origin"]">
                        <i class="bi bi-plus-circle"></i>
                    </a>
					<select id="allowedOrigins" name="Input.AllowedOrigins" multiple class="form-control">
                <option value="https://afrowave.ltd" selected onabort=" ">https://afrowave.ltd</option>
                <option value="https://id.afrowave.ltd" selected>https://id.afrowave.ltd</option>
            </select>
        </div>

                <div class="form-group">
                    <label for="allowAnyMethod">@t["Allow any method"]</label>
                    <select id="allowAnyMethod"
                            name="Input.AllowAnyMethod"
                            class="form-control"
                            asp-items="Model.AllowAnyMethodOptions">
                    </select>
                    </label>
                </div>

        <div class="form-group">
         <label for="allowedMethods">@t["Allowed Methods"]</label>
            <select id="allowedMethods" 
                name="Input.AllowedMethods" 
                multiple 
                class="form-control"
                asp-items="Model.HttpMethodsOptions">
            </select>
        </div>

                <div class="form-group">
                    <label for="allowHeaders">@t["Allow any headers"]</label>
                    <select id="allowHeaders"
                            name="Input.AllowAnyHeader"
                            class="form-control"
                            asp-items="Model.AllowAnyHeaderOptions">
                    </select>
                    </label>
                </div>

        <div class="form-group">
            <label for="allowedHeaders">@t["Allowed Headers"]</label>
            <select id="allowedHeaders" 
                name="Input.AllowedHeaders" 
                multiple 
                class="form-control"
                asp-items="Model.HttpHeadersOptions">
            </select>
        </div>
        
        <div class="form-group">
            <label for="allowCredentials">@t["Allow Credentials"]</label>
            <select id="allowCredentials" 
                name="Input.AllowCredentials" 
                class="form-control"
                asp-items="Model.AllowCredentialsOptions">
            </select>
            </label>
        </div>
        <button type="submit" id="submit" class="btn btn-primary btn-block mt-3">
            @Model.t["Next"]
        </button>
    </form>
    </div>
    </div>
    <div class="col-md-5">
        <div id="div_help" class="helper" style="display:none">
        </div>
    </div>
</div>

<script language="javascript">
    let active_page = "cors";
    let help = ('Install_Cors');
</script>