@page
@model Id.Pages.Install.InstallationResultModel
@{
	ViewData["Title"] = Model.t["Installation result"];
}

@section Scripts {
	<script src="~/js/api.js"></script>
	<script src="~/js/install.js"></script>
}
<div class="row">
	<div class="col-md-12">
		<h2>@Model.t["Installation result"]</h2>
		<hr />
	</div>
	<div class="col-md-7">
			<form method="post" id="addApplication">
			<input asp-for="Input.InstallationFinished" type="hidden" value="true" />
		<h1>@Model.t["Congratulations!"]</h1>
		<h3>@Model.t["Installation completed successfully."]</h3>
		<hr />
		<table class="result" style="border-radius: 7px;">
			<tr>
				<th class="result" style="width: 40%"><img src="@Model.BrandLogoLink" style="width: 32px; height:32px;"></th>
				<th class="text-center result"><h4>@Model.t["Brand"]</h4></th>
			</tr>
			<tr class="result">
				<th class="result">@Model.t["Brand name"]</th>
				<td class="result">@Model.BrandName</td>
			</tr>
			<tr class="result">
				<th class="result">@Model.t["Brand description"]</th>
				<td class="result"><span style="font-style: italic">@Model.BrandDescription</span></td>
			</tr>
			<tr class="result">
				<th class="result">@Model.t["Brand website"]</th>
				<td class="result"><a href="@Model.BrandWebsite" target="_blank">@Model.BrandWebsite</a></td>
			</tr>
			<tr class="result">
				<th class="result">@Model.t["Brand email"]</th>
				<td class="result"><a href="mailto:@Model.BrandEmail">@Model.BrandEmail</a></td>
		</table>
		<table class="result" style="border-radius: 7px;">
			<tr>
				<th class="result" style="width: 40%"><img src="@Model.ApplicationLogoLink" style="width:32px"></th>
				<th class="text-center result"><h4>@Model.t["Application"]</h4></th>
			</tr>
			<tr class="result">
				<th class="result">@Model.t["Application name"]</th>
				<td class="result">@Model.ApplicationName</td>
			</tr>
			<tr class="result">
				<th class="result">@Model.t["Application description"]</th>
				<td class="result"><span style="font-style: italic">@Model.ApplicationDescription</span></td>
			</tr>
			<tr class="result">
				<th class="result">@Model.t["Application website"]</th>
				<td class="result"><a href="@Model.ApplicationWebsite" target="_blank">@Model.ApplicationWebsite</a></td>
			</tr>
			<tr class="result">
				<th class="result">@Model.t["Application email"]</th>
				<td class="result"><a href="mailto:@Model.ApplicationEmail">@Model.ApplicationEmail</a></td>
		</table>

		<table class="result" style="border-radius: 7px;">
			<tr>
				<th class="result" style="width: 40%"><span class="information mt-0 mb-0" style="font-size: 1.5em"><i class="bi bi-person-square"></span></i></th>
				<th class="text-center result"><h4>@Model.t["Administrator"]</h4></th>
			</tr>
			<tr class="result">
				<th class="result">@Model.t["Administrator name"]</th>
				<td class="result">@Model.AdminName</td>

			</tr>
			<tr class="result">
				<th class="result">@Model.t["Administrator roles"]</th>
				<td class="result"><span style="font-style: italic">@Model.AdminRoles</span></td>
			</tr>
		</table>

		<table class="result" style="border-radius: 7px;">
			<tr>
				<th class="result" style="width: 40%"><span class="information mt-0 mb-0" style="font-size: 1.5em"><i class="bi bi-envelope-paper"><span></i></i></th>
				<th class="text-center result"><h4>@Model.t["Smtp settings"]</h4></th>
			</tr>
			<tr class="result">
				<th class="result">@Model.t["SMTP server"]</th>
				<td class="result">@Model.SmtpSettings.Host</td>
			</tr>
			<tr class="result">
				<th class="result">@Model.t["SMTP port"]</th>
				<td class="result">@Model.SmtpSettings.Port.ToString()</td>
			</tr>
			<tr class="result">
				<th class="result">@Model.t["SMTP Secure socket options"]</th>
				<td class="result">@Model.SmtpSettings.Secure.ToString()</td>
			</tr>
			<tr class="result">
				<th class="result">@Model.t["SMTP Sender"]</th>
				<td class="result">@Model.SmtpSettings.SenderName</td>
			</tr>
			<tr class="result">
				<th class="result">@Model.t["SMTP Sender Email"]</th>
				<td class="result"><a href="mailto:@Model.SmtpSettings.SenderEmail">@Model.SmtpSettings.SenderEmail</a></td>
			</tr>
			<tr class="result">
				<th class="result">@Model.t["SMTP requires authentication"]</th>
				<td class="result">@Model.SmtpNeedsAuthentication</td>
			</tr>
		</table>

		<button type="submit" id="submit" class="btn btn-primary btn-block mt-3 ms-3">
					@Model.t["Finish"]
		</button>
		</form>
	</div>

	<div class="col-md-5">
				<div id="div_help" class="helper" style="display:none"></div>
	</div>

</div>

<script language="javascript">
	let active_page = "result";
			let help = ('Install_Result');
</script>