@page
@model Id.Pages.Install.LoginRulesModel
@{
	ViewData["Title"] = Model.t["Login settings"];
}

@section Scripts {
	<script src="~/js/api.js"></script>
	<script src="~/js/install.js"></script>
	<script src="~/js/validations_login.js"></script>
}

<div class="row">
	<div class="col-md-12">
		<h2>@Model.t["Login settings"]</h2>
		<hr />
	</div>
	<div class="col-md-7">
		<h2 class="text-center">@Model.t["Configure login rules"]</h2>
		<div id="form-div">
			<form method="post" id="addLoginRules" enctype="multipart/form-data">
				<div class="form-group">
					<div id="login_rules_err_max_failed" class="text-warning p-2 pb-0"></div>
					<label for="login_rules">@Model.t["Maximal failed login attempts"]</label>
					<input asp-for="Input.MaxFailedLoginAttempts" 
						type="number" 
						class="form-control" 
						id="max_failed"
						onfocus="loadHelp('Install_LoginRules_MaxFailed')"
						   onkeydown="checkMaxFailed(this)" 
						   onchange="checkMaxFailed(this)" />
				</div>
				<div class="form-group">
					<div id="login_rules_err_lockout_time" class="text-warning p-2 pb-0"></div>
					<label for="login_rules">@Model.t["Lockout time (in minutes)"]</label>
					<input asp-for="Input.LockoutTime" type="number" class="form-control" id="lockout_time"
						onfocus="loadHelp('Install_LoginRules_LockoutTime')"
						onkeydown="checkLockoutTime(this)"
						onchange="checkLockoutTime(this)" />
				</div>
				<div class="form-group">
					<div id="login_rules_err_password_reset_token_expiration" class="text-warning p-2 pb-0"></div>
					<label for="login_rules">@Model.t["Password reset token expiration time (in minutes)"]</label>
					<input asp-for="Input.PasswordResetTokenExpiration" type="number" class="form-control" id="password_token"
						onfocus="loadHelp('Install_LoginRules_PasswordResetTokenExpiration')"
						onkeydown="checkPasswordTokenExpiration(this)"
						onchange="checkPasswordTokenExpiration(this)" />
				</div>
				<div class="form-group">
					<div id="login_rules_err_email_token_expiration" class="text-warning p-2 pb-0"></div>
					<label for="login_rules">@Model.t["Email confirmation token expiration time (in minutes)"]</label>
					<input asp-for="Input.OTPTokenExpiration" type="number" class="form-control" id="email_token"
						onfocus="loadHelp('Install_LoginRules_EmailConfirmationTokenExpiration')" 
						onkeydown="checkEmailTokenExpiration(this)"
						onchange="checkEmailTokenExpiration(this)" />
				</div>
				
				<div class="form-group">
					<div id="login_rules_err_require_email_confirmation" class="text-warning p-2 pb-0"></div>
					<label for="login_rules">@Model.t["Confirmed email required for access"]</label>
					<select asp-for="Input.RequireConfirmedEmail" class="form-control" id="login_rules"
						   onfocus="loadHelp('Install_LoginRules_RequireConfirmedEmail')"
						   onchange="checkRequireConfirmedEmail(this)">
						<option value="true">@Model.t["Yes"]</option>
						<option value="false">@Model.t["No"]</option>
					</select>
				</div>
				<input asp-for="Input.ApplicationId" type="hidden" value="@Model.Input.ApplicationId" />
				<button type="submit" id="submit" class="btn btn-primary btn-block mt-3">
					@Model.t["Next"]
				</button>
			</form>
		</div>
	</div>
	<div class="col-md-5">
		<div id="div_help" class="helper" style="display:none">
		</div>
	</div>
</div>

<script language="javascript">
	let active_page = "login";
	let help = ('Install_Login');
</script>
