@page
@model Id.Pages.Install.PasswordRulesModel
@{
	ViewData["Title"] = Model.t["Password settings"];
}

@section Scripts {
	<script src="~/js/api.js"></script>
	<script src="~/js/install.js"></script>
	<script src="~/js/validations_password.js"></script>
}

<div class="row">
	<div class="col-md-12">
		<h2>@Model.t["Password settings"]</h2>
		<hr />
	</div>
	<div class="col-md-7">
		<h2 class="text-center">@Model.t["Configure password rules"]</h2>
		<div id="form-div">
			<form method="post" id="addPasswordRules" enctype="multipart/form-data">
				<div class="form-group">
					<div id="password_rules_err_min_length" class="text-warning p-2 pb-0"></div>
					<label for="password_rules">@Model.t["Minimal password length"]</label>
					<input asp-for="Input.MinimumLength" 
						type="number" 
						class="form-control" 
						id="min_length"
						onfocus="loadHelp('Install_PasswordRules_MinPasswordLength')"
						   onkeydown="checkMinLength(this)" 
						   onchange="checkMinLength(this)" />
				</div>
				<div class="form-group">
					<div id="password_rules_err_max_length" class="text-warning p-2 pb-0"></div>
					<label for="password_rules">@Model.t["Maximal password length"]</label>
					<input asp-for="Input.MaximumLength"
						   type="number"
						   class="form-control"
						   id="min_length"
						   onfocus="loadHelp('Install_PasswordRules_MaxPasswordLength')"
						   onkeydown="checkMaxLength(this)"
						   onchange="checkMaxLength(this)" />
				</div>
				<div class="form-group">
					<label>@Model.t["Require the special character"]</label>
					<select asp-for="Input.RequireNonAlphanumeric" class="form-control" id="require_non_alphanumeric" 
						    asp-items="Model.RequireNonAlphanumeric">
					</select>
				</div>
				<div class="form-group">
					<label>@Model.t["Require the lowercase character"]</label>
					<select asp-for="Input.RequireLowercase" class="form-control" id="require_non_alphanumeric"
							asp-items="Model.RequireLowercase">
					</select>
				</div>
				<div class="form-group">
					<label>@Model.t["Require the upercase character"]</label>
					<select asp-for="Input.RequireUppercase" class="form-control" id="require_non_alphanumeric"
							asp-items="Model.RequireUppercase">
					</select>
				</div>
				<div class="form-group">
					<label>@Model.t["Require the numeric character"]</label>
					<select asp-for="Input.RequireDigit" class="form-control" id="require_non_alphanumeric"
							asp-items="Model.RequireDigit">
					</select>
				</div>
				<button type="submit" id="submit" class="btn btn-primary btn-block mt-3">
					@Model.t["Next"]
				</button>
			</form>
		</div>
	</div>
	<div class="col-md-5">
		<div id="div_help" class="helper" style="display:none">
		</div>
	</div>
</div>

<script language="javascript">
	let active_page = "password";
	let help = ('Install_PasswordRules');
</script>